
.alert{
    font-size: 1.2em;
    text-align: center;
    color: black;
    border-radius: .3em;
    padding: .4em;
}

.alert-danger{
    text-align: center;
    background-color: #E48F93;
    color: black;
}
